.blue_btn {
	width: 100%;
	text-align: center;
	background: #2196f3;
	border-bottom: 1px solid #d7d7d7;
	font-weight: 500;
	color: #eee;
	padding: 9px 0 9px 0;
	cursor: pointer;
	font-size: 14px;
	display: block;
	text-decoration: none;
}